Body {
    background-color: darkolivegreen;
}

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

img {
    width: 80%;
    height: auto;
}